<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1 id='site-title'>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="sidebar-info">{{ site.description }}</p>
          
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"name" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
      <p class="sidebar-info"> Contact me: 
        <a href="http://twitter.com/valentinp"> <i class="fa fa-twitter-square"></i> 
        <a href="http://github.com/valentinp"> <i class="fa fa-github-square"></i></a>
        <a href="http://plus.google.com/+ValentinPeretroukhin"> <i class="fa fa-google-plus-square"></i></a>
      </p>


     <p class="sidebar-quote"> 
       "As far as the laws of mathematics refer to reality, they are not certain, and as far as they are certain, they do not refer to reality." <br/>
       <em> <i class="fa fa-lightbulb-o"></i> Albert Einstein</em>
      </p>

  </div>
</div>
