.site {
  margin-right: auto;
  margin-left: auto;
  padding: 0 $spacer $spacer $spacer;
  @include make-container();
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5em;
}

// RESPONSIVE SITE
@include mq-up(sm) {
  .site {
    padding: 0 $spacer2;
  }
}

// SITE HEADER ====================================

.site-header {
  margin: $spacer1 0 $spacer1;
  padding-top: $spacer0;
  @include clearfix();
}

.site-logo {
  width: 3rem;
  height: 3rem;
}

.site-nav {
  display: flex;
  justify-content: right;
  font-family: "Lato", serif;
  font-size: 1.1rem;
}

.site-title {
  text-align: center;
}

.site-nav a {
  flex: 0 1 auto;
  padding: 0 .25rem;
  transition: background 0.1s ease-out;
  background-color: lighten($brand-light-color, 5%);
  border-radius: 5px;
  
  &:hover {
    text-decoration: none;
    color: $link-color;
    background-color: $brand-light-color;
  }

  &:focus,
  &:active {
    background-color: $link-color;
    text-decoration: none;
    color: #fff;
  }

  &.current {
    font-weight: bold;
  }
}

// SITE HEADER - RESPONSIVE ------------------

@include mq-up(xs) {
  .site-header {
    margin: $spacer1 0 $spacer2;
  }

  .site-title {
    margin-bottom: $spacer1;
  }

  .site-nav a {
    margin-right: $spacer0;
    width: 100%;
    text-align: center;

  }
  .site-nav a:last-child {
    margin-right: 0;
  }
}

@include mq-up(md) {
  .site-logo {
    margin-left: $spacer0;
    width: 3.5rem;
    height: 3.5rem;
  }

  .site-nav {
    float: right;
    margin-top: $spacer0;
    font-size: 1.25rem;

    a {
      margin-right:$spacer1;
      padding: .25rem $spacer0;
    }

  }
  .site-nav a:last-child {
    margin-right: 0;
  }

  .site-title {
    float: left;
    width: 20%;
    text-align: inherit;
    margin-bottom: $spacer0;
  }
}

// SITE FOOTER ====================================

.site-footer {
  margin: 4rem 0 6rem;
  padding-top: $spacer1;
  padding-bottom: $spacer1;
  font-family: $font-heading;
  border-top: 1px solid $brand-light-color;
}

.site-footer {
  ul, li {
    margin-bottom: 0;
    margin-top: 0;
    color: #999;
    font-weight: 100;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
  }
}

.site-author {
  font-weight: bold;
  margin-left: $spacer0;
}

.site-source a {
  color: $gray;
}

.site-links {
  @include clearfix();
}

.site-contact li,
.site-source li {

  &:not(:last-child)::after {
    content: '|';
    color: $brand-light-color;
    margin: 0 .3rem 0 $spacer0;
  }
}

// SITE FOOTER - RESPONSIVE ------------------
@include mq-up(sm) {
  .site-contact {
    float: right;
    width: 50%;
    text-align: right;
  }

  .site-source {
    float: left;
    width: 50%;
  }
}

// SITE SELECTION ====================================

::-moz-selection {
  background-color: $brand-color;
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: $brand-color;
  color: #fff;
  text-shadow: none;
}

// SITE EMOJI ====================================

.emoji {
  width: 1em;
  height: 1em;
  vertical-align: inherit;

  &.right { margin-right: .3rem; }
  &.left { margin-left: .3rem; }
}
